.i{
  font-display: block;
  font-family: serif;
  font-size: 60px;
  font-style: italic;
  font-weight: 500;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-content: center;
  
}